<template name="home">
{{#markdown}}
## ยินดีต้อนรับเข้าสู่บล๊อค
ที่นี่จะพูดเกี่ยวกับการศึกษาและทดสอบ Javascript Framework ใหม่ ๆ ที่เกิดขึ้นบนโลกใบนี้นะฮ๊าฟ.
{{/markdown}}

{{{exampleHelper}}}

{{podHelper}}

{{>contextExample someText="ทดสอบส่งข้อมูลผ่าน context."}}

<hr/>
{{>contextExample dataContextHelper}}

<hr/>
{{#with dataContextHelper}}
    {{>contextExample}}
{{/with}}

<hr/>
{{#with dataContextHelper}}
    <p>{{someText}}</p>
    <p>{{someNested.text}}</p>
{{/with}}

<hr/>
{{#blockHelperExample myValue=false}}
    <span>Some Content</span>
{{else}}
    <span>Some Warning</span>
{{/blockHelperExample}}

<hr/>
{{#each postsList}}
    {{>postInList}}
{{/each}}
</template>
